body h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, sans-serif;
    background-color: #e4e9e4;
    color: #3E324C;
    line-height: 1.6;
    padding: 20px;
    padding-bottom: 70px;
}

h1 {
    color: #9A7FCC;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

nav a {
    text-decoration: none; 
    color: #9A7FCC;
    font-weight: bold;
}

nav a:hover {
    color: #C06BA6
}

.intro {
    margin-top: 20px;
    max-width: 650px;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 6px 20px;
    font-size: 0.9em;
    color: #2f2334;
    text-align: center;
    background-color: #d4dfd4;
    box-sizing: border-box;
    z-index: 999;
}

.hero {
    width: 80%;
    height: auto;
    display: block;
    margin: 20px auto;
}

h2 {
    color: #61605f;
    margin-top: 40px;
    margin-bottom: 15px;
}

.earringrow {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.medallionrow {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.regaliarow {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.earringrow img,
.medallionrow img, 
.regaliarow img {
    width: 320px;
    height: 320px;
    object-fit: cover;

} 

figcaption {
    text-align: center;
    margin-top: 8px;
}

.about-container {
    display: flex;
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px;
    align-items: flex-start;
}

.about-text {
    flex: 1.5;
    padding-top: 35px;
}

.about-text h2 {
    margin-top: 0;
}

.about-image {
    flex: 1.3;
}

.about-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 6px;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column; 
        text-align: center;
        gap: 10px;
    }
}
@media (max-width: 800px) {
    .about-container {
        flex-direction: column;
    }
.about-image img {
    max-width: 100%;
}
}