body h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, sans-serif;
    background-color: FFF7FC;
    color: #3E324C;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    color: #9A7FCC;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

nav a {
    text-decoration: none; 
    color: #9A7FCC;
    font-weight: bold;
}

nav a:hover {
    color: #C06BA6
}

.intro {
    margin-top: 20px;
    max-width: 650px;
}

footer {
    margin-top: 30px;
    font-size: 0.9em;
    color: #e8c0f6;
}

main img {
    width: 80%;
    height: auto;
    display: block;
    margin: 20px auto;
}

h2 {
    color: #61605f;
    margin-top: 40px;
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column; 
        text-align: center;
        gap: 10px;
    }
}